/*
TODO: style the body with the following
 set the font family to sans-serif,
 set the padding to 2 rem,
 set the background color to #f4f4f4
 */

/*
TODO: style the h1 tags with the following
set the color to #333
 */

/*
TODO: style all pre tags with the following
set the background color to #fff,
set the padding to 1 rem
set the border to 1 px solid with a color of #ccc
 */

/*
TODO: style the pass class to
set the color to green
 */

/*
TODO: style the fail class to
set the color to red
 */




